<!DOCTYPE html>

<div class="title">
    <h2>{{name}}</h2>
    {{#if favorite}}
        <img src="/like.png" alt="heart" class="heart favorite">
    {{else}}
        <img src="/heart.png" alt="heart" class="heart not-favorite">
    {{/if}}
</div>


<h4>Address: {{address}}</h4>
<h4>Category: {{category}}</h4>
<p id = "hidden-id">{{id}}</p>

{{#if avg_stars}}
    <h4>Average stars: {{avg_stars}}</h4>
    <br>
        <h4>Reviews: </h4>
        <ol>
            {{#each reviews}}
                <li>Review by {{reviewer_name}}: {{title}} </li>
                    <ul>
                        <li>{{stars}} stars</li>
                        <li>{{review}}</li>
                    </ul>
                    <br>
            {{/each}}
        </ol>
    <br>
{{/if}}


<br>
<h4>Write a review:</h4>
<div class="container">
    <form action="/restaurant/addReview/{{id}}" method="POST">

        <!--Review title -->
        <div class="form-group">
            <label>Review Title:</label>
            <input type="text" name="title" class="form-control review-input">
        </div>

        <!--Stars -->
        <div class="form-group">
            <label>Rating:</label>
            <select id="stars" name = "stars">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <!--Review Text -->
        <div class="form-group review-text review-input">
            <label>Review:</label>
            <textarea name="review" rows="8" cols="5" class="form-control"></textarea>
        </div>

        <!--Submit button -->
        <input type="submit" name="submit" value="Submit" class="submit" id="addReview">

    </form>
</div>
