<!DOCTYPE html>
<h3>Search by Restaurant name or Category: </h3>
<form action="/search" method="GET">
    <input type="text" name="searchTerm" class="search">
    <input type="submit" name="submit" value="Submit" class="submit">
</form>
<h4><a href="/restaurant/new">Add Restaurant</a></h4>

<br>
{{#each restaurants}}
    <h3><a href="/restaurant/{{id}}">{{name}}</a></h3>
    <p>Category: {{category}}</p>
    <p>Address: {{address}}</p>
    <p>Stars: {{stars}}</p>
    <br>
{{/each}}
